﻿body, html {
    box-sizing: border-box;
}
*{
    //border: 1px solid white;   
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    position: relative;

    div {
        #snowflakeContainer {
            position: absolute;
            left: 0px;
            top: 0px;
        }

        .snowflake {
            padding-left: 15px;
            font-family: Cambria, Georgia, serif;
            font-size: 14px;
            line-height: 24px;
            position: fixed;
            color: white;
            user-select: none;
            z-index: 1000;
        }

        .snowflake:hover {
            cursor: default;
        }

        
    }

    header {
        position: fixed;
        padding: 1em;
        font-size: 1.5em;
        background-color: rgba(0,0,0,.5);
        color: white;
        min-width: 98%;
        height: 1.7em;
        display: flex;
        justify-content: space-between;
        background-color: black;
        align-items: center;
        z-index: 1200;


        a {
            text-decoration: none;
            color: white;
            padding: 1em;
        }

        a:hover {
            color: black;
            background: white;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
        }
    }

    .post {
        height: 24em;
        width: 100%;

        div {
            height: 100%;
            width: 100%;
            background-attachment: fixed;
            background-repeat: no-repeat;
        }
    }

    .post-header {
        div {
            background-image: url(../images/new5.png);
            background-position: top center;
            background-size: 250px;
            box-shadow: rgba(0,0,0,.5) 0px 0px 10px;
        }
    }

    .choser {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        font-weight: 700;
        background-clip: padding-box;
        z-index: 1;


        ul {
            margin-bottom: 1em;
            padding: 0;
            width: 100%;
            display: flex;
            list-style-type: none;
            justify-content: space-around;

            a {
                padding: .5em;
                color: black;
                font-size: 2em;
                text-decoration: none;
            }

            a:hover, a:focus {
                position: relative;
                z-index: 10;
                text-shadow: none;
                color: white;
                background: black;
                box-shadow: rgba(255,255,255,0.8) 0px 0px 13.8px inset;
            }
        }
    }

    main {
        position: relative;
        z-index: 1001;
        max-width: 1200px;
        padding: 0 1.5em;
        margin: 0 auto;
        height: 100%;
        box-shadow: rgba(0,0,0,.5) 0px 0px 16px;

        h1 {
            padding-right: 0.5em;
        }



        p {
            text-align: center;
        }

        .sectionAbout {
            ul {
                padding-top: .5em;
            }
        }

        .brief {
            width: 100%;
            background: white;
            display: flex;
            font-size: 1.2em;
            position: relative;
            top: 8px;

            h1 {
                font-size: xx-large;
            }

            ul {
                list-style-type: none;

                li {
                    padding: 0.2em;
                }
            }
        }

        .challenges {
            p {
                padding: 1.2em 0 0 2em;
            }
        }

        .description {
            display: flex;

            p {
                padding: 1em;
            }

            p:nth-child(1) {
                text-align: left;
            }

            p:nth-child(2) {
            }

            p:nth-child(3) {
            }

            p:nth-child(4) {
                text-align: right;
            }
        }
    }

    aside {
        background: black;
        color: forestgreen;
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 0.9em;
        box-shadow: rgba(0,0,0,.5) 0px 0px 10px 3px;
        position: relative;
        z-index: 1;
        height: 8.5em;



        div {
            h1{
                position: relative;

            }

            img {
                position: relative;
                top: 1em;
                width: 5em;
            }
            img:hover{
                cursor:pointer;
            }

            ul {
                padding: 0;
                list-style-type: none;
                display: flex;
                align-items: center;
            }

            a {
                padding: 1em;
                background-color: black;
                color: forestgreen;
                text-decoration: none;
            }

            a:hover {
                color: black;
                background: forestgreen;
            }

            p {
                padding: 0;
                margin: 0;
            }
        }

        div:nth-child(2) {
            margin: 0 5%;
        }

        div:nth-child(3) {
            a {
                padding: 0;
            }

            a:hover {
                color: white;
            }
        }
    }

    footer {
        position: relative;
        z-index: 1200;
        padding: 1em;
        color: white;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        background-color: forestgreen;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(0,0,0,.5) 0px 0px 10px 5px, rgba(0,0,0,.5) 0px 0px 25px 3px inset;
        text-shadow: 0px 0px 4px black;
        img{
            position: relative;
            top: -2em;
        }
        span {
            color: black;
        }

        p {
            text-align: center;
            margin: 0;
            padding: 0;
        }

        p:nth-child(1) {
            margin-bottom: 1em;
        }

        p:nth-child(2) {
            font-size: 0.8em;
        }
    }
}
@media screen and (max-width: 835px) {
    *{
        //border: 1px solid yellow;
    }
    body {
        main {
            .description {
                display: flex;
                flex-wrap: wrap;

                p:nth-child(1) {
                    flex: 1 100%;
                    text-align: left;
                }

                p:nth-child(2) {
                    flex: 1;
                    text-align: left;
                }

                p:nth-child(3) {
                    flex: 1;
                    text-align: left;
                }

                p:nth-child(4) {
                    flex: 1 100%;
                    text-align: left;
                }
            }
        }

        header {
            height: 2.4em;
            font-size: 1.8em;
            position: relative;
            left: .05em;
            justify-content: center;
            width: auto;
            min-width: 0;
            padding: 0;
            margin: 0;
            box-shadow: rgba(0,0,0,.5) 0px 0px 10px 3px;

            a {
                text-decoration: none;
                color: white;
                padding: 0 0 0 0.2em;
            }

            a:hover {
                color: black;
                background: white;
            }

            ul {
                font-size: 0;
                visibility: hidden;
            }
        }

        .challenges p {
            padding: 0.8em 0 0 0;
        }

        .post-header {
            height: 16.38em;
            width: 100%;

            div {
                height: 100%;
                width: 100%;
                background-image: url(../images/new5.png);
                background-repeat: no-repeat;
                background-position: top -3.1em center;
                background-size: 250px;
                background-attachment: fixed;
            }
        }
    }
    @media screen and (max-width: 650px) {
        * {
            //border: 1px solid yellow;
        }
        body {
            .choser {
                display: flex;
                justify-content: center;



                ul {
                    padding: 0;
                    margin: 0;
                    display: block;
                    text-align: center;

                    a {
                        display: inline-block;
                        min-width: 96%;
                        padding: .5em;
                        color: black;
                        font-size: 2em;
                        text-decoration: none;
                    }

                    a:hover, a:focus {
                        color: white;
                        background: black;
                        box-shadow: rgba(0,0,0,0.5) 0px 0px 16px;
                    }
                }
            }

            main {

                .description {
                    display: block;
                }

                .challenges p {
                    padding: 0.8em 0 0 0;
                }
            }
        }
        }
    }

